:root {
	// FONTS
	--crimson-pro: "Crimson Pro", serif;
	--lora: "Lora", serif;
	--montserrat: "Montserrat", sans-serif;

	// COLORS

	--dark: hsl(270, 4%, 9%);
	--middle: hsl(0, 0%, 51%);
	--light: hsl(0, 0%, 100%);
}
