@import "variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 18px;
}

.material-icons {
	font-size: 36px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--montserrat);
	background-color: var(--dark);
	color: var(--light);
}

// MOBILE MENU

.mobile {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	padding: 20px 15px 20px;

	display: none;

	transform: translateX(-100%);
	transition: transform 300ms ease-in-out;
	z-index: 3;
}

.mobile__open {
	transform: translateX(0);
}

.mobile-navigation-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile-button-close {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	color: var(--light);
}

.navigation-mobile {
	margin: 20vh auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation-menu-mobile {
	display: none;
	outline: none;
}

.container {
	margin: 0 auto;
	max-width: 1300px;
	padding: 1vh 0;
}

// BTN No. 01

.custom-btn-01 {
	padding: 0.6rem 1.4rem;
	font-family: var(--crimson-pro);
	font-weight: 200;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;

	background: transparent;
	outline: none;
	cursor: pointer;
	transition: all 200ms ease;
	position: relative;
}

.btn-01 {
	border: 2px solid var(--light);
	z-index: 1;
	color: var(--light);
}
.btn-01:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: var(--light);
	transition: all 200ms ease;
}
.btn-01:hover {
	color: var(--dark);
}
.btn-01:hover:after {
	left: 0;
	width: 100%;
}

// BTN No. 02

.custom-btn-02 {
	padding: 0.5rem 1.4rem;
	font-family: var(--montserrat);
	font-weight: 700;
	font-size: 1rem;
	text-decoration: none;

	background: transparent;
	outline: none;
	cursor: pointer;
	transition: all 200ms ease;
	position: relative;
}

.btn-02 {
	z-index: 1;
	color: var(--light);
	margin-left: 60px;
}

.btn-02:nth-child(1) {
	margin-left: 0;
}

.btn-02:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: var(--light);
	transition: all 200ms ease;
}
.btn-02:hover {
	color: var(--dark);
}
.btn-02:hover:after {
	left: 0;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	padding: 0 80px;
	margin-bottom: 1vh;
}

.main {
	display: flex;
	align-items: center;
	height: 80vh;
	padding: 0 80px;
	margin-bottom: 2vh;

	&__left {
		width: 42%;
		padding-right: 10%;
		margin-top: -10%;
	}

	&__left-h1 {
		font-family: var(--lora);
		font-size: 2.667rem;
		font-weight: 500;
		margin-bottom: 40px;
	}

	&__left-p {
		font-size: 1.333rem;
		font-weight: 400;
		margin-bottom: 48px;
	}

	&__left-a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: var(--light);
		font-weight: 700;
		padding: 0;
	}

	&__left-a .material-icons {
		font-size: 24px !important;
	}

	&__left-i {
		margin-left: 14px;
		transition: transform 200ms ease-in-out;
	}

	&__left-a:hover i {
		transform: translateX(-20%);
	}

	&__right {
		width: 58%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__right-photo img {
		width: 100%;
		transition: transform 200ms ease-in-out;
		cursor: pointer;
	}

	&__right-photo:hover img {
		transform: scale(0.97);
	}

	&__right-desc {
		display: flex;
		flex-direction: column;
		background-color: var(--dark);
		padding: 20px 100px 20px 25px;
		margin-top: -10%;
		margin-right: -40%;
		max-width: 410px;
		z-index: 2;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__right-desc-top {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}

	&__right-desc-top-photo img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 18px;
	}

	&__right-desc-top-h4 {
		font-weight: 500;
		font-size: 0.778rem;
		margin-bottom: 8px;
	}

	&__right-desc-top-p {
		font-weight: 500;
		font-size: 0.667rem;
		color: var(--middle);
	}

	&__right-desc-bottom-h2 {
		font-weight: 700;
		font-size: 1.333rem;
		font-family: var(--lora);
	}
}

.footer {
	height: 3vh;
	padding: 0 80px;
	// margin-bottom: 1vh;

	&__link {
		text-align: center;
		font-weight: 500;
		color: var(--middle);
		font-size: 0.8rem;
	}

	&__link a {
		text-decoration: none;
		color: var(--middle);
		font-weight: 700;
	}

	&__link a:hover {
		color: var(--light);
	}
}

// MOBILE

@media only screen and (max-width: 1024px) {
	.header {
		padding: 0 25px;
	}

	.header__nav {
		display: none;
	}

	.navigation-menu-mobile {
		display: initial !important;
	}

	.navigation-menu-mobile-button {
		border: none;
		background-color: transparent;
		cursor: pointer;
		outline: none;
		color: var(--light);
	}

	.mobile {
		display: block !important;
	}

	.main {
		flex-direction: column;
		padding: 0 25px;
		margin-bottom: 2vh;
		height: unset;

		&__left {
			width: 100%;
			padding-right: 0;
			margin-top: 0;
		}

		&__left-h1 {
			font-size: 1.8rem;
			margin-bottom: 25px;
		}

		&__left-p {
			font-size: 0.778rem;
			line-height: 0.944rem;
			margin-bottom: 25px;
			max-width: 65%;
		}

		&__left-a {
			font-size: 0.778rem;
			margin-bottom: 40px;
		}

		&__right {
			width: 100%;
		}

		&__right-desc {
			padding: 20px 60px 20px 25px;
			margin-top: -20%;
			margin-right: 0;
			max-width: 300px;
		}

		&__right-desc-top {
			margin-bottom: 25px;
		}

		&__right-desc-top-photo img {
			width: 35px;
			height: 35px;
		}

		&__right-desc-top-h4 {
			font-size: 0.667rem;
			margin-bottom: 8px;
		}

		&__right-desc-top-p {
			font-size: 0.556rem;
		}

		&__right-desc-bottom-h2 {
			font-size: 1rem;
		}
	}

	.footer {
		padding: 0 25px;

		&__link {
			font-size: 0.6rem;
		}
	}

	.btn-02 {
		z-index: 4;
		margin-left: 0;
		margin-bottom: 30px;
	}
}
